@model IEnumerable<RuachSignups.Models.ShabbatModel>

@{
    ViewData["Title"] = "Reading Signups";
}

<h2>Signups</h2>

<p>
    <a asp-action="Create">Create New</a> | 
    <a asp-action="CreateAll">Save readings to DB</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{int i = 0;}
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <input id="@($"name-{i}")" class="copyable" value="@Html.DisplayFor(modelItem => item.Title)"></input>&nbsp;<a class="copyLink" data-clipboard-target="@($"#name-{i}")">copy</a><br/>
                Torah: <input id="@($"torah-{i}")" class="copyable" value="@Html.DisplayFor(modelItem => item.Torah)"/>&nbsp;<a class="copyLink" data-clipboard-target="@($"#torah-{i}")">copy</a><br/>
                Haftarah: <input id="@($"haftarah-{i}")" class="copyable" value="@Html.DisplayFor(modelItem => item.Haftarah)"></input>&nbsp;<a class="copyLink" data-clipboard-target="@($"#haftarah-{i}")">copy</a><br/>
                @if (item.Maftir != null) {
                    <span>Maftir: <input id="@($"maftir-{i}")" class="copyable" value="@Html.DisplayFor(modelItem => item.Maftir)"></input>&nbsp;<a class="copyLink" data-clipboard-target="@($"#maftir-{i}")">copy</a></span><br/>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    i++;
}
    </tbody>
</table>
