@model IEnumerable<RuachSignups.Models.ShabbatModel>

@{
    ViewData["Title"] = "Reading Signups";
}

<h2>Signups</h2>

<p>
    <a asp-action="Create">Create New</a> | 
    <a asp-action="CreateAll">Save readings to DB</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)<br/>
                Torah: @Html.DisplayFor(modelItem => item.Torah)<br/>
                Haftarah: @Html.DisplayFor(modelItem => item.Haftarah)<br/>
                @if (item.Maftir != null) {
                    <span>Torah: </span>@Html.DisplayFor(modelItem => item.Maftir)<br/>
                }
            </td>
            <td>
                Torah: @Html.DisplayFor(i => item.Torah)<br/>
                @if (item.Maftir != null) {
                    <span>Maftir: </span>@Html.DisplayFor(i => item.Maftir) <br/>
                }
                Haftarah: @Html.DisplayFor(i => item.Haftarah) <br/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
